**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.local
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.envrc
.idea/
.vscode/
*.swp
.DS_Store
